%h1 Movies
-if current_user
  ='Current user is: ' + current_user.email
  =link_to 'Sign Out', sign_out_path
-else
  =link_to 'Sign Up', sign_up_path
  =link_to 'Sign In', sign_in_path
%p=link_to 'New Movie', new_movie_path
%table
  %thead
    %tr
      %th Title
      %th Length
  %tbody
    -@movies.each do |movie|
      %tr
        %td=link_to movie.title, movie_path(movie)
        %td=movie.length
